---
import { getAllAuthors } from '@/lib/data-utils'

export async function getStaticPaths() {
  const authors = await getAllAuthors()
  return authors.map((author) => ({
    params: { id: author.id },
    props: { author },
  }))
}

const { author } = Astro.props
const target = `/team/${author.id}/`
---

<meta http-equiv="refresh" content={`0; url=${target}`} />
<script is:inline>
  window.location.replace({JSON.stringify(target)})
</script>
<p>
  This page has moved to <a href={target}>{target}</a>.
</p>
